@import '../../../../assets/variables';

.balance {
  &-head {
    position: relative;
    padding-bottom: 30px;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% + 60px);
      height: 1px;
      background-color: rgba($color-blue2, 0.2);
      transform: translateX(-50%);
    }
  }
  &-title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__img {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
    &__text {
      display: inline-block;
      margin-left: 8px;
      font-family: $font-rm;
      font-weight: 700;
      font-size: 1.125em;
      color: $color-black;
    }
  }
  &-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      display: flex;
      align-items: flex-end;
      font-family: $font-rm;
      font-weight: 700;
      font-size: 3.125em;
    }
    &__whole {
      color: $color-black;
      &:after {
        content: '.';
        color: $color-black;
      }
    }
    &__float {
      color: rgba($color-black, 0.3);
    }
    &__btn {
      display: inline-block;
      height: 50px;
      padding: 0 34px;
      font-family: $font-ws;
      font-weight: 500;
      font-size: 0.9375em;
      color: $color-white;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 6px;
      background: $gradient-red4;
      box-shadow: 0 11px 21px 0 rgba(234, 55, 110, 0.2);
      transition: box-shadow 300ms ease-in-out;
      &:hover {
        box-shadow: none;
      }
    }
  }
  &-body {
    &__top {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-family: $font-rm;
        font-size: 1.125em;
        font-weight: 700;
        color: $color-black;
      }
      .filter {
        display: flex;
        justify-content: space-between;
        width: 180px;
        > span {
          height: 24px;
          font-family: WorkSans;
          font-size: 14px;
          display: flex;
          align-items: center;
          padding: 0 10px;
          color: rgba($color-black, 0.5);
          cursor: pointer;

          &.active {
            background-color: rgba($color-blue2, 0.1);
          }
        }
      }
    }
  }
  &-chart {
    margin-top: 20px;
    height: 180px;
    border: 1px solid blue;
  }
}




.form {
  width: 100%;
  border: 1px solid red;
  &-changes {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__item {
      width: 100%;
      height: 30px;
      margin-right: 9px;
      font-family: $font-ws;
      font-size: 1em;
      color: $color-white;
      text-decoration: none;
      border-radius: 4px;
      background-color: rgba($color-white, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-field {
    width: 100%;
    height: 100%;
    outline: none;
    font-family: $font-ws;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 28px;
    color: $color-blue4;
    border: none;
    background-color: $color-white;
    box-sizing: border-box;
  }
  &-btn {
    width: 100%;
    height: 70px;
    margin-top: 45px;
    font-family: $font-rm;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 32px;
    text-align: center;
    color: $color-white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    background: $gradient-red3;
    box-sizing: border-box;
    box-shadow: 0px 11px 21px rgba(234, 55, 110, 0.2);
    transition: all 300ms ease-in-out;
    &:hover {
      box-shadow: none;
    }
  }
  &-group {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
    vertical-align: bottom;
    border: none;
    border-radius: 6px;
    background-color: $color-white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    &.error {
      border: 1px solid #f00;
    }
    &__left {
      width: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      &.ic_tilda {
        position: relative;
        .form-field {
          padding-left: 20px;
        }
        &:before {
          content: '~';
          position: absolute;
          bottom: 3px;
          left: 20px;
          font-family: $font-ws;
          font-size: 26px;
          color: rgba(44, 62, 80, 0.3);
        }
      }
    }
    &__right {
      min-width: 170px;
      max-width: 170px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      border-left: 1px solid rgba($color-black, 0.12);
    }
    &__currency {
      margin-left: 12px;
      font-family: $font-ws;
      font-weight: 500;
      font-size: 1.5em;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: $color-blue4;
      text-transform: uppercase;
    }
    &__text {
      font-family: $font-ws;
      font-weight: 400;
      font-size: 1em;
      line-height: 19px;
      color: rgba($color-blue4, 0.5);
    }
    .error-message {
      position: absolute;
      bottom: -20px;
      left: 40px;
    }
  }
  &-exchange {
    padding: 25px 0 32px;
    display: flex;
    align-items: center;
    background-color: transparent;
    &__column {
      margin-left: 45px;
    }
    &__title {
      margin-bottom: 5px;
      font-family: $font-ws;
      font-size: 0.75em;
      line-height: 22px;
      color: rgba($color-white, 0.6);
    }
    &__value {
      font-family: $font-ws;
      font-size: 1em;
      line-height: 18px;
      color: $color-white;
    }
  }
  &_invoice {
    .inform {
      svg {
        fill: rgba($color-white, 0.4);
      }
    }
  }
  &_buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-box {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      .form-group {
        margin-right: 40px;
        max-width: 390px;
        height: 70px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .form-exchange {
      padding: 0;
      text-align: center;
      color: $color-black;
      &__column {
        margin-left: 22px;
        &:first-child {
          margin-left: 0;
        }
      }
      &__title {
        color: $color-black;
      }
      &__value {
        color: $color-black;
      }
    }
    .form-btn {
      margin-top: 35px;
      max-width: 380px;
    }
    .inform {
      svg {
        fill: #a6a7aa;
      }
    }
  }
}

.decorate {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 24px;
    top: 0;
    display: block;
    height: 100%;
    width: 1px;
    background-color: $color-white;
  }
  &::after {
    content: '';
    position: absolute;
    //top: 50%;
    top: 55px;
    left: 20px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-white;
    //transform: translateY(-50%);
  }
}

