<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header-logo">
        <img src="/assets/img/svg/logo-instachange.svg" alt="logo">
      </div>
    </div>
  </header>
  <section class="content">
    <div class="content-usename">
        Hello, %UserName%!
    </div>
    <div class="content-spacer"> </div>
    <div class="content-title">
        Your account was blocked
    </div>
    <div class="content-message">
      <p>We are really-really sorry, but we had no choice.</p>  
      <p>There was a suspicious behavior registered on your account</p> 
      <p>and we had to deactivate it for safety reasons.</p>  
    </div>
    <div class="content-contact">
        Please contact our support to unlock it.
    </div>
    <button class="content-btn">Contact</button>
  </section>
  <footer class="footer">
    <div class="footer-description">
      <p>Don’t know why you got this e-mail? Please
        <a href="#" class="footer-link">tell us</a>, and we will handle it</p>
      <p>© Audition project, 2018</p>
    </div>
  </footer>
</div>