@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//local fonts
@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans-Regular/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/WorkSans-Regular/WorkSans-Regular.woff') format('woff'), url('../assets/fonts/WorkSans-Regular/WorkSans-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans-Medium/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/WorkSans-Medium/WorkSans-Medium.woff') format('woff'), url('../assets/fonts/WorkSans-Medium/WorkSans-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans-SemiBold/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/WorkSans-SemiBold/WorkSans-SemiBold.woff') format('woff'), url('../assets/fonts/WorkSans-SemiBold/WorkSans-SemiBold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans-Bold/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/WorkSans-Bold/WorkSans-Bold.woff') format('woff'), url('../assets/fonts/WorkSans-Bold/WorkSans-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../assets/fonts/RobotoMono-Bold/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/RobotoMono-Bold/RobotoMono-Bold.woff') format('woff'), url('../assets/fonts/RobotoMono-Bold/RobotoMono-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../assets/fonts/RobotoMono-Medium/RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/RobotoMono-Medium/RobotoMono-Medium.woff') format('woff'), url('../assets/fonts/RobotoMono-Medium/RobotoMono-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../assets/fonts/RobotoMono-Regular/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/RobotoMono-Regular/RobotoMono-Regular.woff') format('woff'), url('../assets/fonts/RobotoMono-Regular/RobotoMono-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
