ul.horizontal{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  padding: 0;
  li{
    display: inline;
    a{
      text-decoration: none;
      padding: 10px 20px;
      // border-radius: 20px;
      font-size: 16px;
      line-height: 1.25;
      color: #6f778b;
      &.active{
        font-weight: 600;
        color: #5f53ff;
        background-color: #f6f7f9;
      }
      &:hover{
        background-color: #f6f7f9;
      }
      &:active{
        background-color: #eef0f5;
      }
    }
  }
}
