$font-ws: 'WorkSans', sans-serif;
$font-rm: 'RobotoMono', monospace;

$color-blue: #4b54dd;
$color-blue-darck: #424ab6;

$color-white: #ffffff;
$color-white2: #fafafa;
$color-black: #000000;
$color-black2: #333333;
// $color-blue: #2A2BEE;
$color-blue2: #202E6D;
$color-blue3: #00B5E6;
$color-blue4: #2C3E50;
$color-blue5: #0B1753;
$color-red1: #F23F5C;
$color-red2: #C00DCB;
$color-red3: #EB386C;
$color-pink: #EF7BA3;
$color-green: #0CB52B;
$color-dashboard-background: #efeff4;
$color-red4: #EA5689;
$color-red5: #f03d61;
$color-gray1: #edeff3;
$color-gray2: #F9F9F9;
$color-brown1: rgb(143, 134, 125);

$gradient-blue: linear-gradient(0deg,  transparent 60%, #edeff3);


$gradient-blue2: linear-gradient(232.53deg, #2E2FFF 16.33%, #2A2BEE 121.92%);
$gradient-red: linear-gradient(97.8deg, #F23F5C -60.3%, #C00DCB 60.4%);
$gradient-red2: linear-gradient(105.21deg, #F23F5C -53.98%, #C00DCB 66.59%);
$gradient-red3: linear-gradient(100.22deg, #F23F5C -58.66%, #C00DCB 62%);
$gradient-red4: linear-gradient(116.08deg, #F23F5C -38.43%, #C00DCB 81.81%);
$gradient-dark: linear-gradient(247.24deg, rgb(8, 8, 8) 13.72%, rgb(49, 51, 58) 146.01%);
$gradient-green: linear-gradient(247.24deg, rgb(33, 77, 33) 13.72%, rgb(112, 134, 109) 146.01%);

